name: Teste de conexão SSH

on:
  workflow_dispatch:  # Permite execução manual

jobs:
  test-ssh:
    runs-on: ubuntu-latest
    steps:
      - name: Adicionar VPS ao known_hosts
        run: ssh-keyscan -H ${{ secrets.VPS_HOST }} >> ~/.ssh/known_hosts
      - name: Testar conexão SSH
        uses: appleboy/ssh-action@v0.1.4
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            echo "Conexão bem-sucedida!"
